.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.submitButton {
  font-size: calc(10px + 2vmin);
  background-color: #61dafb;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.errorMessage {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  color: red;
  font-weight: bold;
}

.background{
  background-image: url('Background2.png');
  background-size: cover;
}

.backgroundWhite{
  background-color: white;
}

.backgroundButton{
  background-image: url('Background1.png');
  background-size: cover;
  color: white;
  border-radius: 6px;
  font-size: 18px;
  outline: none;
}

.projectName {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
}

.dropdown-menu {
  height: 125px;
  overflow-y: scroll;
}